binds {
    Ctrl+Up { toggle-overview; }
    Ctrl+Alt+Right { focus-monitor-right; }
    Ctrl+Alt+Left { focus-monitor-left; }
    
    Mod+Q { close-window; }
    Mod+W {switch-preset-column-width;}
    Mod+H {switch-preset-window-height;}
    Mod+M { maximize-column; }
    Mod+F { fullscreen-window; }
    Mod+P { toggle-window-floating; }

    Mod+Right { focus-column-right; }
    Mod+Left { focus-column-left; }

    Mod+Up { focus-workspace-up; }
    Mod+Down { focus-workspace-down; }

    Super+Alt+Left { move-column-left; }
    Super+Alt+Right { move-column-right; }
    Super+Alt+Up { move-window-up; }
    Super+Alt+Down { move-window-down; }

    Mod+Shift+C { consume-window-into-column; }
    Mod+Shift+E { expel-window-from-column; }
    Mod+Shift+Left { move-column-to-monitor-left; }
    Mod+Shift+Right { move-column-to-monitor-right; }
    Mod+Shift+Up { move-column-to-workspace-up; }
    Mod+Shift+Down { move-column-to-workspace-down; }

    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollRight    { focus-column-right; }
    Mod+WheelScrollLeft     { focus-column-left; }

    // XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "pamixer -i 5"; }
    // XF86AudioLowerVolume allow-when-locked=true { spawn-sh "pamixer -d 5"; }
    // XF86AudioMicMute allow-when-locked=true { spawn-sh "pamixer --default-source -m"; }
    // XF86AudioMute allow-when-locked=true { spawn-sh "pamixer -t"; }
    // XF86AudioPlay allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    // XF86AudioPause allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    // XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
    // XF86AudioPrev allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioRaiseVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "increase"; }
    XF86AudioLowerVolume { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "decrease"; }
    XF86AudioMute { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "volume" "muteOutput"; }
    XF86AudioPlay allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "play"; }
    XF86AudioPause allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "pause"; }
    XF86AudioNext allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "next"; }
    XF86AudioPrev allow-when-locked=true { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "media" "previous"; }
    XF86MonBrightnessUp { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "increase"; }
    XF86MonBrightnessDown { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "brightness" "decrease"; }


    // XF86MonBrightnessUp allow-when-locked=true { spawn-sh "busctl --user -- call rs.wl-gammarelay / rs.wl.gammarelay UpdateBrightness d +0.05"; }
    // XF86MonBrightnessDown allow-when-locked=true { spawn-sh "busctl --user -- call rs.wl-gammarelay / rs.wl.gammarelay UpdateBrightness d -0.05"; }

    // Mod+Shift+L { spawn "hyprlock"; }
    Mod+Shift+L { spawn "qs" "-c" "noctalia-shell" "ipc" "call" "lockScreen" "lockAndSuspend"; }
    Ctrl+Alt+F { spawn "nautilus"; }
    Ctrl+Alt+T { spawn "ghostty"; }
    Mod+Space { spawn-sh "qs -c noctalia-shell ipc call launcher toggle"; }
    Mod+S { spawn-sh "qs -c noctalia-shell ipc call controlCenter toggle"; }
    Mod+Comma { spawn-sh "qs -c noctalia-shell ipc call settings toggle"; }

    Ctrl+Alt+Print { screenshot; }
}

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
// spawn-at-startup "waybar"
// spawn-sh-at-startup "blueman"
// spawn-sh-at-startup "wl-gammarelay"
// spawn-sh-at-startup "mako"
// spawn-sh-at-startup "hypridle"
// spawn-sh-at-startup "hyprpaper"
spawn-at-startup "env" "QT_QPA_PLATFORMTHEME=gtk3" "qs" "-c" "noctalia-shell"
spawn-sh-at-startup "nm-applet --indicator"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Qogir-Round-Dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'Papirus-Dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface font-name 'Roboto Mono'"
spawn-sh-at-startup "dconf write /org/gnome/desktop/interface/color-scheme '\"prefer-dark\"'"