output "DP-1" {
    position x=1920 y=0
    variable-refresh-rate
    focus-at-startup
    backdrop-color "#2D333F"
}

output "DP-2" {
    position x=0 y=0
    variable-refresh-rate
    focus-at-startup
    backdrop-color "#2D333F"
}