layout {

    focus-ring {
        active-color   "#343c4d"
        inactive-color "#2b303c"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#343c4d"
        inactive-color "#2b303c"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#2b303c70"
    }

    tab-indicator {
        active-color   "#343c4d"
        inactive-color "#192233"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#343c4d80"
    }
}

recent-windows {
    highlight {
        active-color "#343c4d"
        urgent-color "#fd4663"
    }
}
